.mat-mdc-card-outlined {
    background-color: #0797b1;
}

mat-card {
    width: 300px;
    margin: 16px 16px 16px 16px;
}

.button {
    width: 100%;
    background-color: red;
}

.button-d {
    width: 100%;
    background-color: gray;
    display: none;
}